/* RESET : permet d'effacer le style par défaut imposé par le navigateur */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.andada-pro {
  font-family: "Andada Pro", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
      font-family: "Andada Pro", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;

}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

p {
 font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
}

a, ul, li, nav {
    color : white ;
}

/*-------------------------------------------------------------------------------------------*/
/* dans un container on un a max-width et un width 100% */
.container-1000 {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}

.container-1000-with-gap {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;


}
/*-------------------------------------------------------------------------------------------*/

/* TEST DE VISUALISATION POUR LES NULS!!!*/

.bgred {
    background-color: red;
}

.bgblue {
    background-color: blue;
}

.bggreen {
    background-color: green;
}

.bgyellow {
    background-color: yellow;
}
/*-------------------------------------------------------------------------------------------*/

/* les classe fonctionnelle flex */

.flex {
    display: flex;
    /*rendre flexible un parent = aligner ses enfants */
    flex-wrap: wrap;
    /* revient à la ligne */
}

/* mettre un espace entre les enfant*/
.space-between {
    justify-content: space-between;
}

/* en plus un espace sur les côtés*/
.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-end {
justify-content: flex-end;
}

.justify-flexstart {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-around {
    align-self: space-around;
}

.text-center {
    text-align: center;
}

.vertical-center {
    vertical-align: center;
}

.text-justify {
    text-justify: inter-character;
}


.item-center {
    justify-items: center;
}
/*-------------------------------------------------------------------------------------------*/
/* les classes de largeur */

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}


.w-20 {
    width: 20%;
}

.w-23 {
    width: 23%;
}

.w-25 {
    width: 25%;
}

.w-28 {
    width: 28%;
}

.w-29 {
    width: 29%;
}

.w-30 {
    width: 33%;
}


.w-33 {
    width: 33%;
}

.w-38 {
    width: 38%;
}

.w-40 {
    width: 40%;
}

.w-42 {
    width: 42%;
}

.w-45 {
    width: 48%;
}

.w-48 {
    width: 48%;
}

.w-50 {
    width: 50%;
}

.w-52 {
    width: 52%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-68 {
    width: 68%;
}

.w-70 {
    width: 80%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}
/*-------------------------------------------------------------------------------------------*/
/* seul les margin top et bottom sont tolérés*/
/* Beaucoup de margin bottom et top beaucoup trop, dsl je ne suis pas encore au point*/

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-150 {
    margin-top: 150px;
}

.margin-top-180 {
    margin-top: 180px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-250 {
    margin-top: 250px;
}

.margin-top-200 {
    margin-top: 200px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-250 {
    margin-bottom: 250px;
}

.margin-right-50 {
    margin-right: 50px;
}

/*-------------------------------------------------------------------------------------------*/

/*classe bouton*/
.btn {
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.btn-primary {
    font-size: 20px;
}

.btn-secondary {
    font-size: 14px;
}

.btn-tri {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 5px 15px;
    display: inline-block;
    font-size: 20px;
    align-items: center;

}
/*-------------------------------------------------------------------------------------------*/

/* ce que j'apelle les inchangés*/
a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 50px;
}

.logo {
    width: 200px;
}

ul {
    list-style: none;
}

li {
    font-weight: bolder;
    font-size: larger;
}

.txt-white {
    color: white;
}

/*-------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/*PAGE INDEX*/

/*HEARDER*/

.fixed-position {
    position: fixed;
    
}

header {
    width : 100%;
    
}

/*mon habit de gala*/
.black-clothes {
background-color: #0B1D26;
}

/*----------------------------------------------------------------------*/
/*SECTION HERO*/


.section-hero {
    background-image: url(asset/banniere3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vH;
    padding: 0 0 50px 200px;
}

.border-right {
    border-right: solid;
    border-right-color: white;
}

/*SECTION SECTION FOOTER*/

#line {
    height: 3px;
    width: 70px;
    background-color: #FBD784;
    align-items: flex-end;
}

.goldy-color {
    color: #FBD784;
}

.niveau-01 {
    position: fixed;
    z-index: -1;

}



/*----------------------------------------------------------------------*/


/*----------------------------------------------------------------------*/
