/* RESET : permet d'effacer le style par défaut imposé par le navigateur */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*-------------------------------------------------------------------------------------------*/
/* les classe fonctionnelle flex */

.flex {
    display: flex;
    /*rendre flexible un parent = aligner ses enfants */
    flex-wrap: wrap;
    /* revient à la ligne */
}

/* mettre un espace entre les enfant*/
.space-between {
    justify-content: space-between;
}

/* en plus un espace sur les côtés*/
.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-flexstart {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-around {
    align-self: space-around;
}

.text-center {
    text-align: center;
}

.vertical-center {
    vertical-align: center;
}

.text-justify {
    text-justify: inter-character;
}


.item-center {
    justify-items: center;
}
/*-------------------------------------------------------------------------------------------*/
/* les classes de largeur */

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}


.w-20 {
    width: 20%;
}

.w-23 {
    width: 23%;
}

.w-25 {
    width: 25%;
}

.w-28 {
    width: 28%;
}

.w-29 {
    width: 29%;
}

.w-30 {
    width: 33%;
}


.w-33 {
    width: 33%;
}

.w-38 {
    width: 38%;
}

.w-40 {
    width: 40%;
}

.w-42 {
    width: 42%;
}

.w-48 {
    width: 48%;
}

.w-50 {
    width: 50%;
}

.w-52 {
    width: 52%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-68 {
    width: 68%;
}

.w-70 {
    width: 80%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}
/*-------------------------------------------------------------------------------------------*/

/*classe bouton*/
.btn {
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.btn-primary {
    font-size: 20px;
}

.btn-secondary {
    font-size: 14px;
}

.btn-tri {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 5px 15px;
    display: inline-block;
    font-size: 20px;
    align-items: center;

}
/*-------------------------------------------------------------------------------------------*/